application.name                        jira
application.password                    123456
application.login.url                   ${CROWD_BASE_URL}/crowd/console/

crowd.server.url                        ${CROWD_BASE_URL}/crowd/services/
crowd.base.url                          ${CROWD_BASE_URL}/crowd/

session.isauthenticated                 session.isauthenticated
session.tokenkey                        session.tokenkey
session.validationinterval              2
session.lastvalidation                  session.lastvalidation