server {
    server_name ${SERVER_NAME};
    location /jira {
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        set $upstream_jira jira;
        proxy_pass http://$upstream_jira:8080;
        client_max_body_size 10M;
    }

    location /bamboo {
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        set $upstream_bamboo bamboo;
        proxy_pass http://$upstream_bamboo:8085;
        client_max_body_size 10M;
    }

    location /bitbucket {
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        set $upstream_bitbucket bitbucket;
        proxy_pass http://$upstream_bitbucket:7990;
        client_max_body_size 10M;
    }

    location /confluence {
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        set $upstream_confluence confluence;
        proxy_pass http://$upstream_confluence:8090;
        client_max_body_size 10M;
    }

    location /crowd {
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        set $upstream_crowd crowd;
        proxy_pass http://$upstream_crowd:8095;
        client_max_body_size 10M;
    }

    location /fecru {
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        set $upstream_fecru fecru;
        proxy_pass http://$upstream_fecru:8060;
        client_max_body_size 10M;
    }

    location /portainer {
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        set $upstream_portainer portainer;
        proxy_pass http://$upstream_portainer:9000;
        client_max_body_size 10M;
    }
}